:root{
  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

*{
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body{
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif;background-color: var(--Very-dark-blue-main-background);
  color: var(--White-main-heading-stats);
  max-height: calc(100vh - 10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
  background-color: var(--Dark-desaturated-blue-card-background);
  max-width: 500px;
  margin: 1.5rem;
  border-radius: 0.5rem;
}

.container main img {
  margin-bottom: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.attribution { 
  font-size: 11px;
  text-align: center;
}
.attribution a { 
  color: hsl(228, 45%, 44%);
}